<div class="container">
    <h1>Courses</h1>
    <button mat-stroked-button (click)="openCreateModal()">Add course<mat-icon>add</mat-icon></button>
    
    @defer() {
        @if(courses.length) {
            <app-grid 
                (edit)="editCourse($event)" 
                (add)="addLessons($event)" 
                (delete)="deleteCourse($event)"
                [type]="'courses'"
                [dataSource]="courses" 
                [displayedColumns]="displayedColumns" 
            />
        } @else {
            <h2>No courses found.</h2>
        }
    }
</div>
