/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    background-color: darkgrey;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    h1, h2, h3, span {
        color: white;
    }

    .actions__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        flex-wrap: wrap;
    }

    mat-icon {
        margin: 0 !important;
    }
}